@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}



<div>
    <h1>Kurs:</h1>
    <h2>Zastosowanie technik informatycznych i metod numerycznych. </h2>
    <h3>Dr inż. Michał Krysztof</h3>
</div>