@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Wrocław<br />
    2019<br />
    tomasz.grzesik[at]protonmail.com <br />
</address>

